*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

h1 {
    font-weight: 900;
}

h2, h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

ul {
    list-style: none;
    font-weight: 300;
}