:root {
    --light: #FFFAF4;
    --dark: #242323;
    --maincolor: purple;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*
.row {
    display: flex;
    align-items: center;
}
*/

nav {
    background-color: var(--dark);
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-height: 50px;
}


nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

nav a {
    color: var(--light);
    text-decoration: none;
}

/* About Section */

#image img {
    width: 100%;
}

#about-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image about technologies";
}

#image {
    grid-area: image;
}

#about {
    grid-area: about;
}

#technologies {
    grid-area: technologies
}